@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppins: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: linear-gradient(90deg, rgba(136,69,181,1) 7%, rgba(232,95,95,1) 51%, rgba(255,206,137,1) 96%);
  font-family: $poppins;
  color: rgba(0, 0, 0, 0.753);
}

.circle {
  width: 100px;
  height: 100px;
  background: rgba(255, 248, 248, 0.548);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(254, 254, 254, 0.667);
}

.circle1 {
  top: 80%;
  left: 30%;
}

.circle2 {
  top: 10%;
  left: 10%;
}

.circle3 {
  top: 60%;
  left: 70%;
}

.circle4 {
  top: 50%;
  left: 20%;
}

.circle5 {
  top: 80%;
  left: 90%;
}

.circle6 {
  top: 40%;
  left: 40%;
}