@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$poppins: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(136 69 181 / 100%) 7%, rgb(232 95 95 / 100%) 51%, rgb(255 206 137 / 100%) 96%);
  font-family: $poppins;
  color: rgb(0 0 0 / 75.3%);
}

.circle {
  width: 100px;
  height: 100px;
  background: rgb(255 255 255 / 65.3%);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 10px 0 rgb(254 254 254 / 66.7%);
}

.circle1 {
  top: 80%;
  left: 30%;
}

.circle2 {
  top: 20%;
  left: 30%;
}

.circle3 {
  top: 60%;
  left: 70%;
}

.circle4 {
  top: 50%;
  left: 20%;
}

.circle5 {
  top: 80%;
  left: 90%;
}

.circle6 {
  top: 40%;
  left: 40%;
}
