@import "./Background";

nav {
  width: 100%;
  display: flex;
  background: linear-gradient(rgb(255 255 255 / 29%), rgb(255 255 255 / 44.1%));
  border: solid rgb(255 255 255 / 30.4%) 1px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

nav ul {
  display: flex;
  width: fit-content;
  gap: 1.5rem;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 1px;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 17.8%);
  transition: 0.3s;
}

nav ul li:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 10px 4px rgb(0 0 0 / 17.8%);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: rgb(255 255 255 / 63%);
}
