@import './Background.scss';

nav {
  width: 100%;
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.441));
  border: solid rgba(255, 255, 255, 0.304) 1px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}


nav ul {
  display: flex;
  width: fit-content;
  gap: 1.5rem;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 1px;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.178);
  transition: 0.3s;
}

nav ul li:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.178);

}

.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.63);
}